{{!-- Adjustable configuration --}}
<div class="layout-config">
  {{!-- We can remove the arm position slider since it's not needed with columns --}}
</div>

{{!-- Column-based Body Layout --}}
<div class="body-layout">
  {{!-- Left Column: Left Arm --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-arm-l"
        bodyLabel="Left Arm"
        bodyKey="arm_l"
        items=items_arm_l
        empty-spots=5
        topPad=100
        showStats=false
    }}
  </div>

  {{!-- Left-Center Column: Left Torso, Left Leg --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-l"
        bodyLabel="Torso (Left)"
        bodyKey="torso_l"
        items=items_torso_l
        empty-spots=8
        topPad=50
        showStats=false
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-leg-l"
        bodyLabel="Left Leg"
        bodyKey="leg_l"
        items=items_leg_l
        empty-spots=5
        topPad=50
        showStats=false
    }}
  </div>

  {{!-- Center Column: Head, Center Torso --}}
  <div class="body-column-center">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-head"
        bodyLabel="Head"
        bodyKey="head"
        items=items_head
        empty-spots=3
        topPad=0
        showStats=false
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-c"
        bodyLabel="Torso (Center)"
        bodyKey="torso_c"
        items=items_torso_c
        empty-spots=7
        topPad=0
        showStats=false
    }}
  </div>

  {{!-- Right-Center Column: Right Torso, Right Leg --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-r"
        bodyLabel="Torso (Right)"
        bodyKey="torso_r"
        items=items_torso_r
        empty-spots=8
        topPad=50
        showStats=false
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-leg-r"
        bodyLabel="Right Leg"
        bodyKey="leg_r"
        items=items_leg_r
        empty-spots=5
        topPad=50
        showStats=false
    }}
  </div>

  {{!-- Right Column: Right Arm --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-arm-r"
        bodyLabel="Right Arm"
        bodyKey="arm_r"
        items=items_arm_r
        empty-spots=5
        topPad=100
        showStats=false
    }}
  </div>
</div>
