{{!-- Adjustable configuration --}}
<div class="layout-config">
  {{!-- We can remove the arm position slider since it's not needed with columns --}}
</div>

{{!-- Resource Totals Display --}}
{{#if mechResourceTotals}}
  <div class="mech-resource-totals">
    <h3>Mech Resources</h3>
    <div class="resource-totals-grid">
      {{#each mechResourceTotals as |value key|}}
        <div class="resource-total">
          <span class="resource-name">{{key}}:</span>
          <span class="resource-value">{{value}}</span>
        </div>
      {{else}}
        <div class="no-resources">
          <em>No resources available from active parts.</em>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}

{{!-- Column-based Body Layout --}}
<div class="body-layout">
  {{!-- Left Column: Left Arm --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-arm-l"
        bodyLabel="Left Arm"
        bodyKey="arm_l"
        items=items_arm_l
        empty-spots=5
        topPad=100
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.arm_l
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.arm_l
        bodyPartArmour=equippedMechStats.bodyPartArmour.arm_l
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.arm_l
    }}
  </div>

  {{!-- Left-Center Column: Left Torso, Left Leg --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-l"
        bodyLabel="Torso (Left)"
        bodyKey="torso_l"
        items=items_torso_l
        empty-spots=8
        topPad=50
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.torso_l
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.torso_l
        bodyPartArmour=equippedMechStats.bodyPartArmour.torso_l
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.torso_l
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-leg-l"
        bodyLabel="Left Leg"
        bodyKey="leg_l"
        items=items_leg_l
        empty-spots=5
        topPad=50
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.leg_l
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.leg_l
        bodyPartArmour=equippedMechStats.bodyPartArmour.leg_l
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.leg_l
    }}
  </div>

  {{!-- Center Column: Head, Center Torso --}}
  <div class="body-column-center">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-head"
        bodyLabel="Head"
        bodyKey="head"
        items=items_head
        empty-spots=3
        topPad=0
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.head
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.head
        bodyPartArmour=equippedMechStats.bodyPartArmour.head
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.head
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-c"
        bodyLabel="Torso (Center)"
        bodyKey="torso_c"
        items=items_torso_c
        empty-spots=7
        topPad=0
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.torso_c
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.torso_c
        bodyPartArmour=equippedMechStats.bodyPartArmour.torso_c
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.torso_c
    }}
  </div>

  {{!-- Right-Center Column: Right Torso, Right Leg --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-torso-r"
        bodyLabel="Torso (Right)"
        bodyKey="torso_r"
        items=items_torso_r
        empty-spots=8
        topPad=50
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.torso_r
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.torso_r
        bodyPartArmour=equippedMechStats.bodyPartArmour.torso_r
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.torso_r
    }}
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-leg-r"
        bodyLabel="Right Leg"
        bodyKey="leg_r"
        items=items_leg_r
        empty-spots=5
        topPad=50
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.leg_r
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.leg_r
        bodyPartArmour=equippedMechStats.bodyPartArmour.leg_r
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.leg_r
    }}
  </div>

  {{!-- Right Column: Right Arm --}}
  <div class="body-column">
    {{> "systems/into-the-black/templates/actor/parts/mech-body-part-list.hbs"
        bodyClass="body-arm-r"
        bodyLabel="Right Arm"
        bodyKey="arm_r"
        items=items_arm_r
        empty-spots=5
        topPad=100
        showStats=true
        bodyPartHP=equippedMechStats.bodyPartHP.arm_r
        bodyPartMaxHP=equippedMechStats.bodyPartMaxHP.arm_r
        bodyPartArmour=equippedMechStats.bodyPartArmour.arm_r
        bodyPartMaxArmour=equippedMechStats.bodyPartMaxArmour.arm_r
    }}
  </div>
</div>
